@using MentorshipProgram.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="padding-top:20px">
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
            <input type="button" id="btnCalculator" class="btn btn-success" value="Calculator" />
            <input type="button" id="btnGetCalculator" class="btn btn-success" value="Calculator Log" />
            Hello, @User.Identity.GetFirstName() @User.Identity.GetLastName()
            <input type="button" id="btnBack" class="btn btn-success pull-right" value="Back" />
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnCalculator').click(function () {
                    window.location.href = "/Calculator/Calculator";
                });

            $('#btnGetCalculator').click(function () {
                    window.location.href = "/Calculator/GetCalculator";
            });

            $("#btnBack").click(function () {
                document.location.href = "/EnrolledMembers.html";
            });
        });

    </script>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MENTORSHIP PROGRAMME </p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
